/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* CUSTOM CSS */
:root {
  --brand-accent-light: #E4EFDE;
  --brand-accent-medium: #D0F8AB;
  --brand-accent-deep: #85E13A;
  --brand-accent-dark: #3F621A;
  --brand-black: #111927;
  --brand-white: #F9FAFB;
}

* {
  font-size: 10px;
  color: var(--brand-black);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-accent-light);
  row-gap: 4em;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 7.2em;
}

.card {
  width: 100%;
  max-width: 48em;
}

.card-image-wrapper, .card-body-content {
  background-color: var(--brand-white);
  border-radius: 2.4em;
  box-shadow: 0px 10px 32px -3px rgba(0,0,0,0.05);
}

.card-image-wrapper {
  padding: 1.2em;
  margin-bottom: 1.6em;
}

.card-image {
  width: 100%;
  border-radius: 1.6em;
  aspect-ratio: 4/2.5;
  object-fit: cover;
}

.card-body-content {
  display: flex;
  flex-direction: column;
  row-gap: 6.4em;
  padding: 8em;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap : 1.2em;
}

button {
  width: 4em;
  height: 4em;
  border-radius: 10em;
  border: 1px solid var(--brand-black);
  color: var(--brand-black);
  font-size: 1.6em;
  font-weight: medium;
  cursor: pointer;
}

#increment-btn {
  background-color: var(--brand-black);
  color: var(--brand-white);
}

#save-btn {
  background-color: var(--brand-accent-medium);
  color: var(--brand-accent-dark);
  border-color: var(--brand-accent-deep);
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.6em;
}